certifi==2020.4.5.1
charset-normalizer==2.0.12
click==8.0.4
cn2an==0.5.22
colorama==0.4.5
cycler==0.10.0
dataclasses==0.8
filelock==3.4.1
future==0.18.2
huggingface-hub==0.4.0
idna==3.4
imgviz==1.2.6
importlib-metadata==4.8.3
importlib-resources==5.4.0
joblib==1.1.1
kiwisolver==1.2.0
mahotas==1.4.13
matplotlib==3.2.1
nltk==3.6.7
numpy==1.18.4
opencv-python==4.6.0.66
packaging==21.3
Pillow==7.1.2
proces==0.1.7
pycocotools==2.0.7
pygame==1.9.6
pyparsing==2.4.7
pypinyin==0.51.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
python-dateutil==2.8.1
PyYAML==5.3.1
regex==2023.8.8
requests==2.27.1
scipy==1.4.1
six==1.15.0
timm==0.6.12
torch==1.10.2
torchvision @ file:///C:/Users/UryWu/Downloads/torchvision-0.3.0-cp36-cp36m-win_amd64.whl
tqdm==4.64.1
typing-extensions==3.7.4.3
urllib3==1.26.16
wincertstore==0.2
zipp==3.6.0
