absl-py==0.8.1
aiohttp==3.8.6
aiosignal==1.2.0
altgraph==0.17
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.0
astroid==2.4.2
async-lru==1.0.2
async-timeout==4.0.2
asynctest==0.13.0
attrs==19.3.0
audioread==2.1.8
backcall==0.1.0
beautifulsoup4==4.9.3
bleach==3.1.0
boto3==1.13.2
botocore==1.16.2
bs4==0.0.1
can==0.0.0
CDNDrive==2022.3.20.0
certifi==2019.9.11
cffi==1.14.0
chardet==3.0.4
charset-normalizer==3.0.1
click==7.1.2
colorama==0.4.3
commonmark==0.9.1
contextvars==2.4
cssselect==1.1.0
cycler==0.10.0
dataclasses==0.8
decorator==4.4.1
defusedxml==0.6.0
Deprecated==1.2.13
distlib==0.3.7
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
fake-useragent==0.1.11
filelock==3.4.1
Flask==2.0.3
fpdf2==2.5.5
frozenlist==1.2.0
future==0.18.2
gast==0.3.2
googletrans==2.4.0
grpcio==1.25.0
h5py==2.10.0
idna==2.8
idna-ssl==1.1.0
imgviz==0.12.1
immutables==0.19
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipykernel==5.1.3
ipython==7.11.1
ipython-genutils==0.2.0
iso8601==0.1.14
isort==5.6.4
itchat==1.2.32
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.15.2
jieba==0.39
Jinja2==3.0.3
jmespath==0.9.5
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.6.1
jupyter-server==1.13.1
kaggle==1.5.6
Keras==2.2.4
Keras-Applications==1.0.8
keras-metrics==1.1.0
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
labelme==4.2.9
lazy-object-proxy==1.4.3
librosa==0.7.2
llvmlite==0.32.1
lxml==4.6.2
Markdown==3.1.1
MarkupSafe==2.0.1
matplotlib==3.1.2
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.0.2
mss==6.1.0
multidict==5.2.0
music21==6.7.1
nbconvert==5.6.1
nbformat==4.4.0
nest-asyncio==1.5.6
nltk==3.5
numba==0.49.1
numpy==1.17.4
opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30
openpyxl==3.0.3
packaging==21.3
pandas==0.25.3
pandocfilters==1.4.2
parse==1.19.0
parso==0.5.2
pd==0.0.1
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.4.0
progressbar2==3.55.0
prometheus-client==0.7.1
prompt-toolkit==3.0.2
protobuf==3.10.0
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.20
pycryptodome==3.17
pydot==1.4.1
pydot-ng==2.0.0
pyee==8.1.0
pygame==1.9.6
Pygments==2.14.0
pyHook==1.5.1
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
pykeyboard==0.1.2
pylint==2.6.0
pymongo==4.0.2
PyMouse==1.0
PyMySQL==0.10.1
pynput==1.7.3
pyparsing==2.4.6
pyperclip==1.8.2
pypng==0.20220715.0
pyppeteer==0.2.5
PyQRCode==1.2.1
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyqt5-tools==5.13.0.1.5
pyquery==1.4.3
Pyrogram==1.2.9
pyrsistent==0.15.6
pyserial==3.5
PySocks==1.7.1
pytesseract==0.3.6
python-dateutil==2.8.1
python-dotenv==0.13.0
python-slugify==4.0.0
python-utils==3.1.0
pytz==2019.3
PyUserInput==0.1.11
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.2
pyzmq==18.1.1
QtAwesome==0.7.2
QtPy==1.9.0
redis==4.2.2
regex==2020.11.13
requests==2.22.0
requests-html==0.10.0
resampy==0.2.2
rsa==4.8
s3transfer==0.3.3
s4cmd==2.1.0
scikit-learn==0.21.0
scipy==1.4.1
seaborn==0.10.0
selenium==3.141.0
Send2Trash==1.5.0
serial==0.0.97
Shapely==1.7.0
six==1.13.0
sniffio==1.2.0
some-package==0.1
SoundFile==0.10.3.post1
soupsieve==2.2.1
tensorboard==1.12.2
tensorflow-gpu==1.12.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
TgCrypto==1.2.2
toml==0.10.2
tornado==6.1
tqdm==4.45.0
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==4.1.1
urllib3==1.25.8
virtualenv==20.17.1
w3lib==1.22.0
wcwidth==0.1.7
webcolors==1.11.1
webencodings==0.5.1
websocket-client==1.3.1
websockets==8.1
Werkzeug==2.0.3
wget==3.2
wincertstore==0.2
wrapt==1.12.1
wxpy==0.3.9.8
xlrd==1.2.0
xlwt==1.3.0
yarl==1.7.2
you-get==0.4.1432
zipp==3.6.0
